<p *ngIf = "!description" class= "lgTexte lgAbsolu" style = "width: 100%;top: 5%;font-size: 130%;">{{texte}}</p>
<div *ngIf = "!description" class= "lgAbsolu" style = "left: 30%; width: 40%; height: 48%;top:25%">
    <div @texte class = "lgTexte" style = "font-size: 130%;">{{rolePersonnage}}</div>
    <button @carte class= "lgTexte boutonRole" style = "background-color: transparent; border: none; text-align: center; width: 100%; height: 100%; overflow-y: hidden;" (click) = "i()">
        <div #imagee *ngIf = "image != ''" [style] ="'background-repeat: unset;background-size: cover; background-image: url(./../../assets/'+image+'); width: 100%; height: 100%; max-height:'+imagee.offsetWidth+'px'"></div>
    </button>
</div>
<button *ngIf = "!description" class= "lgBouton lgAbsolu" style = "width: 30%; left: 35%; top:80%; font-size: 80%;" (click) = "ok()">Ok</button>
<app-description-role *ngIf = "description" (fermer) = "fermerDescriptionRole()" [role] = "role"></app-description-role>

