input:focus{
    border: 0;
    outline: none !important;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: red; /*replace with your color*/
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
    background-color: darkred;  /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: red; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: white;  /*replace with your color*/
}

input{
    background-color: black;
    color: white;
    border: 0;
}

.lgBoutonVert{
    background-color: #00BB00;
}

.lgBoutonVert:hover{
    background-color: #007700;
}
