
<p class = "lgTexte lgBlanc lgAbsolu" style = "left: 30%;width:40%; font-size: 70%;">Appareils connectés :</p>
<button *ngIf = "idAppareil == -1 && infoAppareils.length>0" class = "lgBouton lgAbsolu" style = "width: 10%; top: 6%; left: 5%;font-size: 30%;" (click) = "retour()">Retour</button>
<button *ngIf = "idAppareil == -1 && infoAppareils.length>0" class = "lgBouton lgAbsolu" style = "width: 20%; top: 75%; left: 5%;font-size: 30%;" (click) = "triggerProchaineEtape()">Trigger Prochaine Etape</button>
<div class = "lgAbsolu" style = "display: flex; width: 100%; flex-wrap: wrap; justify-content: center; top: 15%; overflow-y: auto; max-height: 58%;">
    <div *ngFor = "let appareil of infoAppareils; let i = index" class = "lgTexte" [style] = "'margin-bottom: 5px; margin-left: 5px; width: 150px;min-height: 50px;background-color:'+(i==idAppareil?'#AA4444':'red')+'; display:flex; align-items: center; flex-wrap: wrap; justify-content: center'">  
        <div *ngIf = "idAppareil != -1 && idAppareil == i" class = "lgTexte lgBlanc" style = "font-size: 60%; width:100%; margin-top: 5px;">Votre Appareil</div>
        <div *ngIf = "idAppareil != -1 && idMeneurDeJeu == i" class = "lgTexte lgBlanc" style = "font-size: 50%;width:100%">(meneur de jeu)</div>
        <div *ngIf = "idAppareil != -1 && idAppareil == i && (!communicationService.isUnMeneurDeJeu || communicationService.isMeneurDeJeu)" style = "display: grid; grid-template-columns: 20% 40% 20% 20%;width:100%">
            <div></div>
            <div style = "vertical-align: middle;display: table-cell;">
                <p *ngIf = "!communicationService.isUnMeneurDeJeu || communicationService.isMeneurDeJeu" class = "lgTexte lgBlanc" style = "font-size: 35%; margin-top: 0%; height: 25px; vertical-align: middle;display: table-cell;" >Rendre meneur de jeu:</p>
            </div>
            <div style = "margin-top: 0%;">
                <input type = "checkbox" style = "height: 25px; margin: 0; vertical-align: top;" (click) = "switch()" [checked] = "communicationService.isMeneurDeJeu">
            </div>
        </div>
        <div *ngFor = "let info of appareil; let j = index" style = "width:100%">
            <div *ngIf = "idAppareil == i && appareil.length > 1" style ="display: grid;grid-template-columns: 50% 10% 30% 10%;grid-template-rows: 25px;border:solid">
                <input [value] = "info" style = "text-align: center;background-color: transparent; border: 0; font-size: 60%;font-family: texteCool;" (input) = "changerTexte($event)" (blur) = "renommer($event, j)" (focus) = "focus()">
                <div></div>
                <button *ngIf = "infoAppareils[i].length>1" class = "lgBouton" style = "width: 30%;" (click) = "retirer(j)" style = "font-size: 30%;">Retirer</button>
            </div>
            <div *ngIf = "idAppareil == i && appareil.length < 2" style ="display: grid;grid-template-columns: 100%;grid-template-rows: auto auto;">
                <div></div>
                <input [value] = "info" style = "text-align: center;background-color: transparent; border: 0; font-size: 70%; font-family: texteCool;border:solid" (input) = "changerTexte($event)" (blur) = "renommer($event, j)" (focus) = "focus()">
            </div>
            <div *ngIf = "idAppareil != i" style ="display: grid;grid-template-columns: 100%;grid-template-rows: auto;">
                <div style = "font-size: 60%; color: white;">{{info}}</div>
            </div>
        </div>
        <button class = "lgBouton lgBoutonVert" *ngIf = "idAppareil != -1 && idAppareil == i && !communicationService.isMeneurDeJeu" (click) = "ajouter()" style = "font-size: 35%;margin-bottom: 5px;width: 60%;">Ajouter un joueur</button>
        <div *ngIf = "idAppareil == -1 && infoAppareilsDetails.length > 0  && (!communicationService.isUnMeneurDeJeu || communicationService.isMeneurDeJeu)" style = "display: grid; grid-template-columns: 20% 40% 20% 20%;width:100%">
            <div></div>
            <div style = "vertical-align: middle;display: table-cell;">
                <p *ngIf = "!communicationService.isUnMeneurDeJeu || communicationService.isMeneurDeJeu" class = "lgTexte lgBlanc" style = "font-size: 30%; margin-top: 0%; height: 25px; vertical-align: middle;display: table-cell;" >Appareil Pret:</p>
            </div>
            <div style = "margin-top: 0%;">
                <input type = "checkbox" style = "height: 25px; margin: 0; vertical-align: top;" (click) = "switchPret(i)" [checked] = "infoAppareilsDetails[i].pret">
            </div>
        </div>
        <div *ngIf = "idAppareil == -1 && infoAppareilsDetails.length > 0 && (!communicationService.isUnMeneurDeJeu || communicationService.isMeneurDeJeu)" style = "display: grid; grid-template-columns: 20% 40% 20% 20%;width:100%">
            <div></div>
            <div style = "vertical-align: middle;display: table-cell;">
                <p *ngIf = "!communicationService.isUnMeneurDeJeu || communicationService.isMeneurDeJeu" class = "lgTexte lgBlanc" style = "font-size: 30%; margin-top: 0%; height: 25px; vertical-align: middle;display: table-cell;" >Appareil Disconnect:</p>
            </div>
            <div style = "margin-top: 0%;">
                <input type = "checkbox" style = "height: 25px; margin: 0; vertical-align: top;" (click) = "switchDisconnect(i)" [checked] = "infoAppareilsDetails[i].disconnect">
            </div>
        </div>
        <button *ngIf = "idAppareil == -1" class = "lgBouton" style = "width: 30%;" (click) = "retirerAppareil(i)" style = "font-size: 30%;">RetirerAppareil</button>
        <button class = "lgBouton lgBoutonVert" *ngIf = "(communicationService.isMeneurDeJeu || idAppareil == i) && i!=0" (click) = "versLeHaut(i)" style = "font-size: 35%;width: 60%;">Déplacer vers le haut</button>
    </div>
</div>
<div *ngIf = "idAppareil == -1" class = "lgAbsolu" style = "overflow-y: auto; top:80%; height: 20%;">{{communicationService.historiquePartie}}</div>


