<div *ngIf = "roleChoisi == undefined" class = "lgTexte lgAbsolu" style ="text-align: center; width: 60%; left: 20%; top: 5%">Roles Possibles</div>
<button *ngIf = "roleChoisi == undefined" class = "lgBouton lgAbsolu" style = "left: 2%; top: 2%" (click) = retour()>Retour</button>

<div *ngIf = "roleChoisi == undefined" class = "lgAbsolu" style = "width: 100%;top: 10%; height: 90%; overflow-y: auto; overflow-x: hidden;">
    <button *ngFor = "let role of nomsRoles; let i = index" style = "font-size: 50%; margin: 2% 2% 2% 2%; width: 80px; height: 100px; background-color: transparent; border: none;" (click) = "descriptionRole(i);">
        <div class= "lgTexte">{{role}}</div>
        <div [style] ="'background-size: cover; background-image: url(./../../assets/'+images[i]+'); width: 100%; height:69%;'"></div>
    </button>
</div>

<app-description-role *ngIf = "roleChoisi != undefined" (fermer) = "fermerDescriptionRole()" [role] = "roleChoisi"></app-description-role>
