<div *ngIf = "!commencerVideo" style = "background-color: black; width: 100%; height: 100%; z-index: -100;"></div>
<div *ngIf = "commencerVideo" style = "width: 100%; height: 100%; overflow: hidden; position: absolute;">
    <div @Fond style = "position: absolute;">
        <div style = "background-size: cover;background-repeat: unset;background-image: url('../../assets/soleilTentative7.jpg'); width: 100%; height: 100%; position: absolute;"></div>
        <div style = "background-size: cover;background-repeat: unset;background-image: url('../../assets/soleilTentative6.jpg'); width: 100%; height: 100%;position: absolute;"></div>
        <div style = "background-size: cover;background-repeat: unset;background-image: url('../../assets/soleilTentative5.jpg'); width: 100%; height: 100%;position: absolute;"></div>
        <div style = "background-size: cover;background-repeat: unset;background-image: url('../../assets/soleilTentative4.jpg'); width: 100%; height: 100%;position: absolute;"></div>
        <div style = "background-size: cover;background-repeat: unset;background-image: url('../../assets/soleilTentative3.jpg'); width: 100%; height: 100%;position: absolute;"></div>
        <div style = "background-size: cover;background-repeat: unset;background-image: url('../../assets/soleilTentative2.jpg'); width: 100%; height: 100%;position: absolute;"></div>
        <div style = "background-size: cover;background-repeat: unset;background-image: url('../../assets/soleilTentative1.jpg'); width: 100%; height: 100%;position: absolute;"></div>
        <div style = "background-size: cover;background-repeat: unset;background-image: url('../../assets/soleilTentative0.jpg'); width: 100%; height: 100%;position: absolute;"></div>
    </div>
    
    <div @Sol style = "position: absolute; background-color: green; width: 100%; height: 80%; top: 45%; visibility: hidden;filter: brightness(50%);"></div>

    <div @Mort *ngFor = "let nomMort of nomMorts; let i = index" [style] = "'width: min(30vh, 30vw); height: min(30vh, 30vw); position: absolute; transform: rotate(90deg); visibility: hidden;left:'+getLeft(i)+'%;margin-top:'+getTop(i)+'%;'">
        <div style = "width: 20%; height: 20%; background-color: blue; border-radius: 50%; position: absolute; left: 40%;"></div>
        <div style = "width: 8%; height: 40%; background-color: red;position: absolute; top: 20%; left: 46%;"></div>
        <div style = "width: 8%; height: 40%; background-color: red;position: absolute; transform: rotate(30deg);top: 60%; left: 32%;"></div>
        <div style = "width: 8%; height: 40%; background-color: red;position: absolute; transform: rotate(-30deg);top: 60%; left: 60%;"></div>
        <div style = "width: 8%; height: 40%; background-color: red;position: absolute; transform: rotate(30deg);top: 23%; left: 32%;"></div>
        <div style = "width: 8%; height: 40%; background-color: red;position: absolute; transform: rotate(-30deg);top: 23%; left: 60%;"></div>
    </div>
    <div @NomMort *ngFor = "let nomMort of nomMorts; let i = index" class = "lgTexte lgBlanc lgAbsolu" [style] = "'font-size: 70%;width: min(30vh, 30vw); height: min(30vh, 30vw); visibility: hidden; margin-top:'+(getTop(i)+5)+'%; left:'+getLeft(i)+'%;'">{{nomMort}}</div>

    <div >
        <img @buissons src = "../../assets/buisson.png" style = "position: absolute;width: 60%;top: 20%; visibility: hidden;filter: brightness(50%); ">
        <img @buissons2 src = "../../assets/buisson.png" style = "position: absolute;width: 60%;top: 20%; visibility: hidden;filter: brightness(50%);">
        <img @buissons3 src = "../../assets/buisson.png" style = "position: absolute;width: 60%;top: 20%; visibility: hidden;filter: brightness(50%);">
        <img @buissons4 src = "../../assets/buisson.png" style = "position: absolute;width: 60%;top: 20%; visibility: hidden;filter: brightness(50%);">
        <img @buissons5 src = "../../assets/buisson.png" style = "position: absolute;width: 60%;top: 20%; visibility: hidden;filter: brightness(50%);">
    </div>

    <div style = "width: min(30vh, 30vw); height: min(30vh, 30vw); position: absolute; top: 60%; left: 50%; ">
        <div @NomVivant class = "lgTexte lgBlanc lgAbsolu" style = "width: 100%; top: -20%; visibility: hidden;font-size: 70%">{{nomVivant}}</div>
        <div @Tete style = "width: 20%; height: 20%; background-color: blue; border-radius: 50%; position: absolute; left: 40%;visibility: hidden;"></div>
        <div @Corps style = "width: 8%; height: 40%; background-color: red;position: absolute; top: 20%; left: 46%;visibility: hidden;"></div>
        <div @piedDroit style = "width: 8%; height: 40%; background-color: red;position: absolute; transform: rotate(30deg);top: 60%; left: 32%;visibility: hidden;"></div>
        <div @piedGauche style = "width: 8%; height: 40%; background-color: red;position: absolute; transform: rotate(-30deg);top: 60%; left: 60%;visibility: hidden;"></div>
        <div @mainDroite style = "width: 8%; height: 40%; background-color: red;position: absolute; transform: rotate(30deg);top: 23%; left: 32%;visibility: hidden;"></div>
        <div @mainGauche style = "width: 8%; height: 40%; background-color: red;position: absolute; transform: rotate(-30deg);top: 23%; left: 60%;visibility: hidden;"></div>
    </div>

    <div @Exclamation style = "position: absolute; top: 50%; left: 60%; width: 5%; color: red; font-size: 40px; font-weight: bold; text-align: center; visibility: hidden;">!</div>
    <div @Exclamation style = "position: absolute; top: 50%; left: 65%; width: 5%; color: red; font-size: 40px; font-weight: bold; text-align: center; visibility: hidden;">!</div>
    <div @Exclamation style = "position: absolute; top: 50%; left: 70%; width: 5%; color: red; font-size: 40px; font-weight: bold; text-align: center; visibility: hidden;">!</div>


    <div @Fondu style = "position: absolute; background-color: black; width: 100%; height: 100%; opacity: 0;"></div>

    <div @PendantLaNuit class= "lgAbsolu lgTexte lgBlanc" style = "width: 100%; top: 15%; visibility: hidden;">{{textePendantLaNuit}}</div>
    <div @JourSeLeve class= "lgAbsolu lgTexte lgBlanc" style = "width: 100%; top: 15%; visibility: hidden;">{{texteJourSeLeve}}</div>
    <button *ngIf = "!communicationService.isMeneurDeJeu && !infoEvenement!.passer" class = "lgBouton lgAbsolu" style = "top: 90%; left: 80%; width: 20%; height: 5%;" (click) = "ok()">Passer</button>
</div>

