<div class = "lgAbsolu" style = "width: 20%;top: 20%;left: 70%; height: 15%; overflow-y: visible; overflow-x: visible;">
    <div *ngFor = "let info of infoVillage; let i = index;" [class] = "getClasseBouton(i) + ' lgAbsolu'" [style] = "'width: 8%; height: 8%;'+getLeftCercle(i)+getTopCercle(i)+getRotationCercle(i)+getBorder(i)" (click) = "selectionner(i)"></div>
</div>
<div  class = "lgAbsolu" style = "width: 80%;top: 40%;left: 10%; height: 43%; overflow-y: auto; overflow-x: hidden; display:flex; flex-wrap: wrap; justify-content: center; align-items: baseline;">
    <button *ngFor = "let info of infoVillage; let i = index;" [class] = "getClasseBouton(i)"  [style] = "'position: relative; width: 80px; min-height: 100px;margin-left: 20px; margin-top: 20px;'+ getBorder(i)" (click) = "selectionner(i)">
        <div style = "width: 80px; height: 100px; display: grid; grid-template-rows: 15px auto auto auto auto; position: absolute; margin: -40px 0px 0px -10px">
            <div class= "lgTexte" style = "color: white;">{{info.nom}}</div>
            <div class = "iconCapitaine" *ngIf = "info.estCapitaine" >
                <img src =  "../../assets/flag.png" >
                <span class = "hoverCapitaine">Ce joueur est le capitaine</span>
            </div>
            <div class = "iconCapitaine" *ngIf = "estEquipeLoups(i) && detailsVillage">
                <img src =  "../../assets/loup.png">
                <span class = "hoverCapitaine">Ce joueur est un loup garou</span>
            </div>
            <div class = "iconCapitaine" *ngIf = "getRole(i) && (detailsVillage || estVillageoisVillageois(i))" >
                <img [src] =  "'../../assets/'+imageRole(i)">
                <span class = "hoverCapitaine">Ce joueur est {{getNomRole(i)}}</span>
            </div>
            <div class = "iconCapitaine" *ngIf = "estAmoureux(i) && detailsVillage" >
                <img src =  "../../assets/coeur.png" style = "background-color: transparent;">
                <span class = "hoverCapitaine">Ce joueur est votre amoureux</span>
            </div>
            <div class = "iconCapitaine" *ngIf = "estCharme(i) && detailsVillage" >
                <img src =  "../../assets/flute.png" style = "background-color: transparent;">
                <span class = "hoverCapitaine">Ce joueur est charmé</span>
            </div>
            <div class = "iconCapitaine" *ngIf = "estAssocie(i) && detailsVillage" >
                <img src =  "../../assets/associer.png" style = " background-color: transparent;">
                <span class = "hoverCapitaine">Ce joueur est votre associé</span>
            </div>
            <div class = "iconCapitaine" *ngIf = "estSoeur(i) && detailsVillage" >
                <img src =  "../../assets/deuxSoeurs.jpg" style = " background-color: transparent;">
                <span class = "hoverCapitaine">Ce joueur est votre soeur</span>
            </div>
            <div class = "iconCapitaine" *ngIf = "estFrere(i) && detailsVillage" >
                <img src =  "../../assets/troisFreres.jpg" style = " background-color: transparent;">
                <span class = "hoverCapitaine">Ce joueur est votre frère</span>
            </div>
            <div *ngIf = "nbVotes > 0 && !estEquipeLoups(i)" class= "lgTexte" style = "color: white;">{{info.nombreVotes!}} Vote{{info.nombreVotes! > 1 ? 's':''}}</div>
            <div *ngIf = "nbVotes > 0">
                <div class = "lgTexte" style ="color: white;">{{getNomsPointent(i)}}</div>
            </div>
        </div>
    </button>
</div>
<div *ngIf = "!evenementAccusation()" class = "lgAbsolu" style = "display: grid; grid-template-columns: 50% 50%;top: 37%;left: 15%;width: 20%;">
    <div class= "lgTexte" style = " font-size: 70%;">Détails:</div>
    <mat-slide-toggle [(ngModel)]="detailsVillage" style = "height: 100%;"></mat-slide-toggle>
</div>
