<div *ngFor = "let historique of historiqueEvenements" style = "margin-top: 8%;">
    <div *ngFor = "let hist of historique" class = "lgTexte" style = "font-size: 70%;">{{hist}}</div>
</div>
<div style = "height: 50%; width: 100%;"></div>
