<p class= "lgTexte lgAbsolu" style = "width: 100%; top: 10%; font-size: 90%;">{{texte}}</p>
<p *ngIf = "nbVotes > 0" class= "lgTexte lgAbsolu" style = "width: 100%; top: 20%; font-size: 70%;">Nombre de votes restants: {{nbVotes}}</p>
<p class= "lgTexte lgAbsolu" style = "width: 100%; top: 33%; font-size: 70%;">{{messageAvertissement}}</p>
<app-selecteur-village [evenement] = "evenement" [nbVotes] = "nbVotes" [detailsVillage] = "detailsVillage" [messageAvertissement] = "messageAvertissement" [raisonsPasVoter] = "raisonsPasVoter" [infoVillage] = "infoVillage" (selection) = "selectionner($event)" ></app-selecteur-village>
<button *ngIf = "idJoueurSelectionne !== -1" class = "lgBouton lgAbsolu" style = "width: 20%; left: 40%; top: 87% ;height: 5%; font-size: 60%;" (click) = "choisir()"> Choisir </button>
<button *ngIf = "peutPasser" class = "lgBouton lgAbsolu" style = "width: 30%; left: 68%; top: 2%; height: 5%; font-size:55%;" (click) = "passer()">Passer cette action</button>