<div *ngIf = "!isInfoAppareil" class="lgTexte lgAbsolu" [style] = "(menu?'':'top: 5%;')+'font-size: 150%; text-align: center; width: 100%'" >Pointage</div>


<div *ngIf = "!isInfoAppareil" class= "lgAbsolu" style = "left: 20%; width: 60%; height: 60%;top:15%; border-radius: 2px; border: solid;">
    <div style = "display:grid; grid-template-columns: 20% 30% 25% 25%; height: 15%;border-bottom: 1px dotted black;">
        <p class="lgTexte" style = "font-size: 80%;">Rang</p>
        <p class="lgTexte" style = "font-size: 80%;">Nom</p>
        <p class="lgTexte" style = "font-size: 60%;">Points Totaux</p>
        <p class="lgTexte" style = "font-size: 60%;">Points Gagnés</p>
    </div>
    <div style="height: 85%;overflow-y: auto;">
        <div *ngFor = "let info of infos; let i = index" style = "display:grid; grid-template-columns: 20% 30% 25% 25%; margin-top: 10%;">
            <div *ngIf = "i==0 || (info.points==infos[0].points)" class="lgTexte" style = "background-image: url(./../../assets/gold_medal.png); background-size: cover; background-repeat: unset; width: 100%; height: 75%;">
                <p >1</p>
            </div>
            <p *ngIf = "!(i==0 || (info.points==infos[0].points))" class = "lgTexte" style = "width: 100%; height: 100%; font-size: 80%;">{{i+1}}</p>
            <p class="lgTexte" style = "font-size: 80%;">{{info.nom}}</p>
            <p *ngIf = "idAppareil != 0" class="lgTexte" style = "font-size: 80%;">{{info.points}}</p>
            <label *ngIf = "idAppareil == 0" class = "lgBlanc lgTexte" style = "font-size: 100%; height: 100%;">
                <input style = "background-color: transparent; border:none; color: white; width:100%; text-align: center;height: 100%;font-size: 80%;height: 75%;" type = "number" [value] = "info.points" (blur) = "setNbPoints($event, i)">
            </label>
            <p class="lgTexte" style = "font-size: 80%;">+{{info.pointsGagnes}}</p>
        </div>
    </div>
</div>

<button *ngIf = "!isInfoAppareil && !menu && !communicationService.isMeneurDeJeu" class= "lgTexte boutonRole lgAbsolu" [style] = "'font-size: 130%; background-color: transparent; border: none; height: 100%; overflow-y: hidden;overflow-x:hidden;width: 20%; left: 40%; top: 80%; height:20%; max-height:'+imagee.offsetWidth+'px'" (click) = "ok()">
    <div #imagee class="lgAbsolu" [style] ="'background-repeat: unset;background-size: cover; background-image: url(./../../assets/wolf-print2.png); width: 100%;rotate: -40deg; height: 100%;left: 0%; top: 0%; max-height:'+imagee.offsetWidth+'px'"></div>
    <div class="lgTexte lgAbsolu lgBlanc" style = "width: 100%; left: 0%; top: 38%; height:20%; font-family: texteBouton;">Ok</div>
</button>

<app-creation-appareils *ngIf = "isInfoAppareil" (retourAppareil) = "switchInfoAppareil();"></app-creation-appareils>
